<div class="header-content">

    <div class="header-box">
        <div class="background-grid-opacity">
            <div>What's your opinion on</div>
            <div class="title1">Pope Francis?</div>
            <p class="paragragraph-content">
                He's talking tough on clergy sexual abuse, but is he just another papal pervert protector? (thums down)
                or a true pedophile punishing pontiff? (thumbs up)
            </p>
            <a href="">More information</a>
            <p class="paragragraph-content-bottom">What's your veredict?</p>
        </div>
        <div class="button-hand background-opacity-blue background-hand-up background-position-center">
            
        </div>
        <div class="button-hand background-opacity-orange background-hand-down background-position-center">
            
        </div>
        <div>

        </div>
    </div>
</div>